<div class="frontpage row justify-content-center">
  <div class="col-md-6">
    <form>
      <h4>Todo list:</h4>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="d-flex">
            <th class="col-2"></th>
            <th class="col-6">Things todo</th>
            <th class="col-4"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex" *ngFor="let item of items" (click)="itemSelected(item)" [ngClass]="{'table-active': item == selectedItem}">
            <td class="col-2">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" [checked]="item.selected">
              </label>
            </td>
            <td class="col-6">{{item.value}}</td>
            <td class="col-4">
              <button type="button" class="btn btn-warning" (click)="removeItem(item)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <label for="input">Add a new thing todo</label>
        <input [(ngModel)]="inputText" name="inputText" type="text" class="form-control" id="input" placeholder="Enter text">
      </div>
      <button type="submit" class="btn btn-primary" (click)="addItem()" [disabled]="!inputText">Add</button>
      <small class="form-text text-muted">{{savedText}}</small>
    </form>
  </div>
</div>

